<main class="page-background min-h-screen flex items-center justify-center">
  <div class="
              glass-effect w-screen h-screen flex items-center px-4 bg-neutral-100/50
              sm:rounded-2xl sm:w-fit sm:h-fit sm:p-16
            ">
    {@inner_content}
  </div>
</main>
<footer class="w-full py-8 px-4 bg-neutral-900 text-center text-neutral-100">
  © {DateTime.utc_now().year} Smolbank. Todos os direitos reservados.
</footer>
